.btn_primary{
    margin: 20px;
    button{
    position: relative;
    display: inline-block;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    font: 1rem/1 "RobotoSlab";
    margin: auto;
    line-height: 1;
    cursor: pointer;
    }
}