$Roboto: 'RobotoSlab';
$Moji: 'Nico Moji';


$mobile: 576px; 
$tablet:768px; 
$desktop:1024px; 
$widescreen: 1200px; 
$widescreen-xl:1400px; 


$blue: #003366;
$yellow: #FFCC00;
$lightBlue: #99CCFF;
$gray: #666666;
$black: #0a0a0a