@import "./../../assets/helpers/fonts";
@import "./../../assets/helpers/variables";
@import "./../../assets/helpers/mixins";

.container_onglet{
    background: rgb(205, 10, 10)7f;
    position: relative;
    height: 40px;
}